{% extends 'shop/basic.html' %} {% block title %}{{product.name}}{% endblock%}

<!-- cartItemCount  -->
{%block cartItemCount%}{{cartItemCount}}{%endblock%} {% block body %}

<div class="container my-5">
  <div class="row gx-5">
    <div class="col-md-4">
      <img
        class="img-fluid"
        style="height: 400px; object-fit: cover"
        src="http://localhost:8000/media/{{product.image}}"
        alt="{{product.name}}"
      />
    </div>
    <div class="col-md-8">
      <h3>{{product.name}}</h3>
      <p>{{product.description}}</p>
      <h5 class="mb-5">Price - ₹{{product.price}}</h5>
      {% if productExistInCart %}
      <a href="/shop/cart" class="btn btn-warning"> Go to Cart </a>
      {% else %}

      <a
        href="/shop/addToCart?name={{product.name}}&&price={{product.price}}&&image={{product.image}}&&id={{product.id}}&&redirect=no"
        class="btn btn-warning"
      >
        Add to Cart
      </a>
      {% endif %}

      <a
        href="/shop/addToCart?name={{product.name}}&&price={{product.price}}&&image={{product.image}}&&id={{product.id}}&&redirect=yes"
        class="btn btn-success mx-2"
      >
        Buy Now
      </a>
    </div>
  </div>
</div>

{% endblock %}
